<!-- .hbs extension to filename is important. Express uses the 'views' folder as default directory for templates -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>This Site</title>
  </head>
  <body>
    {{> header}}
    <p>Some text!</p>

    {{> footer}}
  </body>
</html>
