<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {{> header}}
    <h2>{{screamIt welcomeMessage}}</h2>
    <!-- syntax for passing template data into Helper function: 'function data' (as above) -->
    {{> footer}}
    <!-- syntax for injecting template: '> partialName'
  </body>
</html>
